.header {
    background-image: url('../../assets/clover_card.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0,20rem;
    background-size: cover;
    height: 20vh;
    width: 100vw;
}